---
---

@import "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css";

@import "p2pu-css-framework/p2pustrap";

{% if site.jumbotron_color %}
	$jumbotron-color: {{ site.jumbotron_color }};
{% else %}
 $jumbotron-color: $p2pu-blue;
{% endif %}

{% if site.jumbotron_background_image %}
	$jumbotron-image: '{{ site.jumbotron_background_image }}';
{% else %}
	$jumbotron-image: 'banner.svg';
{% endif %}

@import "common";
@import "nav";
@import "landing";
@import "calendar";

.jumbotron{
    background-repeat: repeat, no-repeat;
    background-position: left top, center top;
    background-size: cover;
}

.p2pu-footer{
    .supported-by {
        ul {
            padding-left: 0;
        }
        li {
            height: 50px;
            margin-right: 0.5em;
            display: inline-block;
        }
        /*
        img {
            height: 100%;
        }
        */
        a {
            border: none;
        }
    .umd-logo{
    	height: 90px;
    	}
    .uw-logo{
    	height: 63px;
    	}
    .cooney-logo{
    	height: 45px;
    	}
    .nsf-logo{
    	height: 45px;
    	}
    .p2pu-logo-footer{
    	height: 27px;
    	}
    }
}
