<footer class="p2pu-footer">

	<div class="container">
		<div class="col-md-8 first supported-by">
			<h4>Supported by:</h4>
      <ul class="list-unstyled">
        <li><a href="http://www.ischool.umd.edu/" target="_blank"><img src="{{site.baseurl}}/img/umd-transparent.png" class="umd-logo"></a></li>
        <li><a href="https://ischool.uw.edu/" target="_blank"><img src="{{site.baseurl}}/img/uw-ischool-secondary-purple-web.png" class="uw-logo"></a></li>
        <li><a href="http://www.joanganzcooneycenter.org/" target="_blank"><img src="{{site.baseurl}}/img/cooney-logo.svg" class="cooney-logo"></a></li>
        <li><a href="http://www.nsf.gov/awardsearch/showAward?AWD_ID=1441523" target="_blank"><img src="{{site.baseurl}}/img/nsf-logo.gif" class="nsf-logo"></a></li>
        <li><a href="https://p2pu.org/en/" target="_blank"><img src="{{site.baseurl}}/img/p2pu-logo.png" height=27px></a></li>
      </ul>

		</div>

		<div class="pull-right col-md-3 cc-by-sa">
			<!-- <img src="{{site.baseurl}}/img/cc-icons.png" alt="CC-BY-SA Icon">

			<p>
				Unless otherwise noted, all the materials on this site are licensed under a
				<a target="_blank" href="http://creativecommons.org/licenses/by-sa/4.0/">
					Creative Commons Attribution Share Alike 4.0</a> Unported license.
			</p> -->
			<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br />
			This work is licensed under a <a rel="license" 		href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons 		Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
		</div>

	</div>

</footer>

