<footer class="p2pu-footer">

	<div class="container">
		<div class="col-md-8 first supported-by">
			<h4>Supported by:</h4>
      <ul class="list-unstyled">
        <!--li><a href="http://www.education.umd.edu/" target="_blank"><img src="{{site.baseurl}}/img/umd-logo.svg"></a></li-->
        <li><a href="http://ischool.umd.edu/" target="_blank">UMD Information School</a></li>
        <li><a href="http://www.education.umd.edu/" target="_blank">UMD College of Education</a></li>
        <li><a href="https://ischool.uw.edu/technology" target="_blank"><img src="{{site.baseurl}}/img/uw-ischool-logo.png"></a></li>
        <li><a href="http://www.joanganzcooneycenter.org/" target="_blank"><img src="{{site.baseurl}}/img/cooney-logo.png"></a></li>
        <li><a href="http://www.nsf.gov/" target="_blank"><img src="{{site.baseurl}}/img/nsf-logo.gif"></a></li>
        <li><a href="https://p2pu.org/en/" target="_blank"><img src="{{site.baseurl}}/img/p2pu-logo.png"></a></li>
      </ul>

		</div>

		<div class="pull-right col-md-3 cc-by-sa">
			<img src="{{site.baseurl}}/img/cc-icons.png" alt="CC-BY-SA Icon">

			<p>
				Unless otherwise noted, all the materials on this site are licensed under a
				<a target="_blank" href="http://creativecommons.org/licenses/by-sa/4.0/">
					Creative Commons Attribution Share Alike 4.0</a> Unported license.
			</p>
		</div>

	</div>

</footer>

